@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* { box-sizing: border-box; }
#body {
    padding: 0; 
    margin: 0; 
    background-color: rgb(0, 0, 0);
}

#navBar {
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    position: sticky;
}

#spacer1 {
    width: 1%;
}

.navItem {
    padding: 1%;
    display: flex;
    align-items: center;
}

.navLink {
    text-decoration: none;
    color: orange;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3vw;
}

.navItem:hover {
    background-color:rgb(78, 78, 78);
}

#logo {
    width: 10%;
    display: flex;
    align-items: center;
    padding-top: 0.12%;
}

#searchBox {
    width: 16%;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    padding-left: 1%;
    border: none;
    outline: none;
    margin-left: 45%;
}
#mobileSearchBoxContainer {
   display: none;
}
#mobileSearchBox {
    display: none;
}


#poster {
    width: 100%;
}

#ad {
    float: left;
    width: 18%;
    display: flex;
    flex-direction: column;
    padding: 0.5%;
}
.ad {
    width: 100%;
    height: auto;
    padding-bottom: 2%;
}

#main {
    float: left;
    width: 64%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.1%;
}

.movItem {
    width: 24%;
    display: flex;
    background-color:rgb(46, 45, 45);
    padding: 1%;
    margin: 0.5%;
    flex-direction: column;
    border-radius: 1.2%;
    align-items: center;
}
.movItem:hover {
    background-color: rgb(82, 82, 82);
}

#movCover {
    max-width: 100%;
    max-height: 100%;
}

.movName {
    color: yellow;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-size: 1vw;
    text-align: center;
}

#right {
    float: left;
    width: 17%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 32, 32);
    margin: 0.4%;
    border-radius: 1.2%;
}
#rightTitle {
    margin-top: 3%;
    font-family: 'Montserrat', sans-serif;
    color: rgb(253, 169, 11);
    font-size: 1.5vw;
}
.trailers {
    width: 92%;
    background-color: rgb(32, 32, 32);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4%;
    padding-top: 2%;
    border-top: solid rgb(253, 169, 11) 0.1vw;
}
#trailer {
    width: 60%;
}
#trailerInfo {
    width: 40%;
    color:  rgb(255, 187, 61);
    font-size: 0.7vw;
    padding: 2%;
    font-family: 'Roboto', sans-serif;
}

#contact {
    width: 50%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#contactText {
    font-size: 2vw;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 2%;
}

#mobileAd {
    display: none;
}
@media only screen and (max-width: 800px) {
    #body {
        background-color: rgb(46, 46, 46);
    }
    #main {
        width: 100%;
    }
    .movItem{
        background-color: rgb(0, 0, 0);
        border-radius: 2%;
        margin: 1%;
        width: 31%;
        padding: 1.2%;
    }
    .movItem:hover {
        background-color: rgb(0, 0, 0);
    }
    .navItem:hover {
        background-color:rgba(0, 0, 0, 0);
    }
    .movName {
        font-size: 3.5vw;
        color: orange;
    }
    .navLink {
        font-size: 3.5vw;
    }
    .navItem {
        padding: 2%;
    }
    #logo {
        padding-top: 0.6%;
        width: 20%;
    }
    #searchBox {
        margin-left: 0%;
        width: 8%;
        display: none;
    }
    #mobileSearchBoxContainer {
        width: 100%;
        padding: 1.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 1%;
        padding-right: 1%;
        background-color: black;
        border-top: solid rgb(253, 169, 11) 0.3vw;
        border-bottom: solid rgb(253, 169, 11) 0.3vw;
    }
    #mobileSearchBox {
        display: block;
        width: 98.5%;
        font-size: 3vw;
        padding: 1.5%;
        outline: none;
        border: none;
    }
    #ad {
        display: none;
    }
    #mobileAd {
        display: block;
        padding: 1.2%;
    }
    #right {
        display: none;
    }
    #contact {
        width: 95%;
        margin-top: 20%;
    }
    #contactText {
        font-size: 4vw;
        padding: 1%;
    }
}   